.nav-bar {
    display: flex;
}
.nav-bar--container-items {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.nav-bar--items {
    margin: 0 15px;
    color: var(--title-color2);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 1s;
}

@media screen and (min-width : 750px) {
    .nav-bar--items:hover {
        transform : translateY(-10px)
    }
}
@media screen and (max-width : 750px) {
    .nav-bar {
        width: 100%;
        justify-content: space-around;
    }
    .nav-bar--container-items {
        width: 40%;
        overflow-x: scroll;
    }
}
