.reward-banner {
    --img-size : 15px;
    background-color: #e2eaed;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
}
.reward-banner--badge {
    display: inline-block;
    background-color: #feaa25;
    border-radius: 100px;
    padding: 5px 10px 0 10px;

}
.reward-banner--badge > img {
    width: var(--img-size);
    height: var(--img-size);
}
.reward-banner--text {
    height: 100%;
    font-size: 0.9em;
    padding: 0 40px 0 10px;
}

@media screen and (max-width : 450px) {
    .reward-banner {
        --img-size : 10px
    }
}