.charges {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--vertical-space) 0;
    overflow: hidden;
    width: var(--container-width);
}
.charges--container-btn {
    padding: 70px 0 0 0;
}
.charges--container-block {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 65%;
    padding: 40px 0;
    opacity: 0;
    position: relative;
}

.charges--container-block_hide {
    display: none;
}
.charges--container-block_visible {
    display: flex;
}

@keyframes blockFadeOut {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 0;
        transform: translateY(100%) scale(1.5);
    }
}
@keyframes blockFadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width : 1050px) {
    .charges--container-block {
        width: 80%;
    }
}
@media screen and (max-width : 850px) {
    .charges {
        width: 100%;
    }
    .charges--head {
        width: 90%;
    }
    .charges--container-block {
        width: 90%;
    }
}

