.footer-background {
    padding: 100px 0;
    background-color: #09142e;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-container {
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container--title {
    padding-bottom: 40px;
}
.footer-container--links-group {
    display: flex;
    justify-content: space-around;
    width: 45%;
}
.footer-container--links-group > li > a {
    color: white;
}
.footer-container--logo {
    padding: 50px 0;
    display: flex;
}
.footer--icon-fb {
    margin: 0 10px;
}
.footer--icon-fb path {
    color : #273043;
    width: 100px;
    transition: .6s;
}
.footer--icon-fb:hover path {
    color: white;
}
.footer--copyright {
    font-style: normal;
    color : #5f636e;
    font-weight: bold;
}