header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width : 750px) {
   header {
       width: 100%;
       padding: 10px;
       box-sizing: border-box;
       align-self: baseline;
   }
   header > *:nth-child(1) {
       width: 30%;
       display: flex;
       justify-content: center;
   }
   header > *:nth-child(2) {
       width: 70%;
   }
}