.container-home {
    width: var(--container-width);
    
} 
.home {
    width: 91%;
    margin: 0 auto;  
    display: flex; 
    justify-content: space-between;
}
.home--background-canvas {
    position: absolute;
    z-index: -1;
    top : 0; 
    left: 0;
}
.home--background {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
   
}
.home--title-part {
    align-self: center;
    width: 50%;
}
.home--container-buttons {
    display: flex;
    align-items: center;
}
.home--container-buttons--anchor {
    margin: 0 20px;
    color: var(--background-button);
    font-weight: bold;
}
.home--title-part--items {
    margin: 30px 0;
}
.home--img-part {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}
.home--img-part > img {
    width: 70%;
}

@media screen and (max-width : 1050px) {
    .container-home {
        width: 100%;
        justify-content: center!important;
    }
    .home {
        height: 90%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .home--title-part {
        width: 80%;
    }
}
@media screen and (max-width : 450px) {
    .home--img-part {
        justify-content: center;
        width: 60%;
        position: relative;
        bottom: 20px;
    }
}