.jackpot {
    padding: var(--vertical-space) 0;
    width: var(--container-width);
}
.jackpot--first-part {
    display: flex;
    width: 80%;
}
.jackpot--side-bar {
    margin: 0 50px;
}
.jackpot--description {
    align-self: center;
}
.jackpot--container-infos {
    display: flex;
    padding-top: 100px;
}

@media screen and (max-width : 450px) {
    .jackpot--first-part {
        width: 100%;
    }
    .jackpot--container-infos {
        flex-direction: column;
    }
}