.learn {
    display: flex;
    padding: var(--vertical-space) 0;
    width: var(--container-width);
}
.learn--presentation {
    width: 40%;
    align-self: center;
    box-sizing: border-box;
    padding-left: 70px;
}
.learn--presentation > * {
    margin: 30px 0;
}