.trusted {
    padding: var(--vertical-space) 0;
    width: calc(var(--container-width) - 10%);
    margin: 0 auto;
}
.trusted--title {
    text-align: center;
    color: var(--title-color2);
}
.trusted--container-items {
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.trusted--items {
    width: 10%;
}