.ultimate-features {
    display: flex;
    flex-wrap: wrap;
    padding: var(--vertical-space) 0;
    width: var(--container-width);
}
.utlimate-features--left-part{
    width: 60%;
}
.ultimate-features--container-title {
    width: 60%;
    padding-bottom: 30px;
}
.ultimate-features--container-info-points {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10%;
    
}
.ultimate-features--img-part {
    width: 40%;
    align-self: stretch;
    position: relative;
}
.ultimate-features--img {
    position: absolute;
    width: 90%;
}
.ultimate-features--img_front {
    z-index: 1;
    right: -20%;
    bottom: 0;
}
.ultimate-features--img_back {
    z-index: -1;
    bottom: 5%;
}

@media screen and (max-width : 1050px) {
    .ultimate-features--container-title{
        width: 80%;
    }
} 
@media screen and (max-width : 750px) {
    .ultimate-features--img-part {
        display: none;
    }
    .ultimate-features {
        flex-direction: column;
        align-items: center;
    }
    .utlimate-features--left-part {
        width: 100%;
    }
}
