.world {
    display: flex;
    padding: var(--vertical-space) 0;
    width: var(--container-width);
}
.world--container-img {
    position: absolute;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("/img/map.png");
    left: 0;
    background-size: contain;
}
.world--container-comment {
    width: 50%;
    position: relative;
}
.world--map{
    width: 50%;
}
.world--main-title {
    padding: 20px 0;
}
.world--slide-btn {
    position: absolute;
    right: 0;
    bottom: 10%;
}
.world--map-portrait-img {
    position: absolute;
}
.world--map-portrait-img:nth-child(1) {
    right: 20%;
    top: 3%;
    width: 5.5%;
}
.world--map-portrait-img:nth-child(2) {
    left: 37%;
    top: 20%;
    width: 8.5%;
}
.world--map-portrait-img:nth-child(3) {
    left: 10%;
    top: 27%;
    width: 10.5%;
}
.world--map-portrait-img:nth-child(4) {
    left: 30%;
    top: 43%;
    width: 13.5%;
}
.world--map-portrait-img:nth-child(5) {
    left: 59%;
    top: 29%;
    width: 8.5%;
}
.world--map-portrait-img:nth-child(6) {
    left: 3%;
    top: 9%;
    width: 7%;
}