:root {
    --title-color : #fcae61;
    --title-color2 : #242f51;
    --background-button : #2500f9;
    --description-color : #616368;
    --annotation-color : #999ca5;
    --margin-border-size : 200px;
    --lg-break-points : 1600px;
    --vertical-space : 130px;
    --container-width : 70%;
}
* {
    margin: 0;
    padding: 0;
    font-family: "poppins-regular";
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}
ul {
    list-style : none;
}
body{
    font-size: 90%;
    scrollbar-width: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "poppins-regular";
    src: url("../assets/font/Poppins-Regular.ttf");
}
@font-face {
    font-family: "poppins-bold";
    src: url("../assets/font/Poppins-Bold.ttf");
}
@font-face {
    font-family: "poppins-semi-bold";
    src: url("../assets/font/Poppins-SemiBold.ttf");
}

@media screen and (max-width : 1600px ) {
    body {
        font-size: 70%;
    }
}
@media screen and (max-width : 1050px ) {
    :root {
        --container-width : 85%;
    }
}

@media screen and (max-width : 450px) {
    :root {
        --vertical-space : 90px;
    }
    body {
        font-size: 50%;
        width: 100%;
    }
}