:root {
    --title-color : #fcae61;
    --title-color2 : #242f51;
    --background-button : #2500f9;
    --description-color : #616368;
    --margin-border-size : 200px
}
* {
    margin: 0;
    padding: 0;
    font-family: "poppins-regular";
    text-decoration: none;
    color: black;
}
body{
    font-size: 90%;
}
.main-container {
    padding: 0 var(--margin-border-size);
}
.container-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@font-face {
    font-family: "poppins-regular";
    src: url("/font/Poppins-Regular.ttf");
}
@font-face {
    font-family: "poppins-bold";
    src: url("/font/Poppins-Bold.ttf");
}
@font-face {
    font-family: "poppins-semi-bold";
    src: url("/font/poppins-SemiBold.ttf");
}