.jackpot {
    padding: var(--vertical-space) 0;
}
.jackpot--first-part {
    display: flex;
    width: 80%;
}
.jackpot--side-bar {
    margin: 0 50px;
}
.jackpot--description {
    align-self: center;
}
.jackpot--container-infos {
    display: flex;
    padding: 100px 0;
}