.trusted {
    padding: 100px var(--margin-border-size);
}
.trusted--title {
    text-align: center;
    color: var(--title-color2);
}
.trusted--container-items {
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.trusted--items {
    width: 7%;
}